@import url("root.css");

/* MAIN */

main {
  padding: var(--main-padding);
  height: min(100vh, 800px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  margin-inline: auto;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px rgba(100, 100, 100, 0.8);
}

h1 {
  text-align: center;
}
