@import url("root.css");

/* HEADER */

header {
  margin-top: 4.25rem;
}

.main-nav-wrapper {
  padding-top: 1.25rem;
}

.main-nav-list::before {
  --size: 80px;
  content: "";
  width: var(--size);
  aspect-ratio: 1;
  z-index: 2;
  top: 1.5em;
  position: absolute;
  background-image: url("../images/logo-200.png");
  background-size: var(--size);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-400);
  padding: 1em 2.5em;
  font-size: var(--fs-nav);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.main-nav-list {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1em;
}

.main-nav-link {
  text-align: start;
  text-decoration: none;
  color: var(--clr-light-100);
}

.main-nav-link:hover,
.main-nav-link:focus-within {
  color: var(--clr-light-300);
}

.main-nav-app-button {
  display: none;
  border: none;
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background-color: var(--clr-light-100);
  color: var(--clr-primary-400);
  border-radius: 100vmax;
}

.main-nav-app-button:hover,
.main-nav-app-button:focus-within {
  color: var(--clr-primary-200);
}

.main-nav-app-button::before {
  --size: 25px;
  content: "";
  margin-right: 1em;
  vertical-align: -22%;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  background-image: url("../images/playstore-25.png");
}

@media (min-width: 50rem) {
  .main-nav-list {
    display: flex;
  }
  .main-nav-app-button {
    display: inline;
  }
}

/* FOOTER */

footer {
  width: 100%;
  background-color: var(--clr-light-200);
}

footer > .container {
  background-color: var(--clr-light-200);
  box-shadow: none;
}

.footer-nav {
  padding: 3em;
  display: flex;
  gap: 2em;
  justify-content: center;
}

.footer-nav li {
  text-align: center;
}

.footer-nav-link {
  text-decoration: none;
  color: var(--clr-dark-900);
}

:is(.footer-nav-link):hover,
:is(.footer-nav-link):focus-within {
  color: var(--clr-primary-400);
}
