@import url("root.css");

/* HEADER */

header {
  margin-top: 1.25rem;
}

.main-nav-wrapper {
  padding-top: 1.25rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
  padding: 1em 2.5em;
  font-size: var(--fs-nav);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.main-nav-list {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1em;
}

.main-nav-link {
  text-align: start;
  text-decoration: none;
  color: var(--clr-white);
}

.main-nav-link:hover,
.main-nav-link:focus-within {
  color: var(--clr-light);
}

.main-nav-app-button {
  display: none;
  border: none;
  margin: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  background-color: var(--clr-white);
  color: var(--clr-primary);
  border-radius: 100vmax;
}

.main-nav-app-button:hover,
.main-nav-app-button:focus-within {
  color: var(--clr-primary-light);
}

@media (min-width: 50rem) {
  .main-nav-list {
    display: flex;
  }
  .main-nav-app-button {
    display: inline;
  }
}

/* MAIN */

article {
  --article-color: var(--clr-primary);
  width: min(100%, 800px);
}

.article-image {
  width: 100%;
}

.article-content {
  background-color: var(--article-color);
  padding: 1em;
}

.article-link {
  text-decoration: none;
  color: var(--clr-white);
}

article:hover,
article:focus-within {
  --article-color: var(--clr-primary-light);
}

@media (min-width: 50rem) {
  .article-list {
    margin-inline: 3rem;
  }
}
