@import url("root.css");

/* MAIN */

.main {
  display: grid;
  grid-template-areas:
    "aside"
    "articles";
  gap: 1.25em;
  min-height: 50em;
  padding: var(--main-padding);
}

@media (min-width: 50em) {
  .main {
    grid-template-areas: "articles aside";
    grid-template-columns: 2fr 1fr;
    gap: 3.25em;
  }
}

.main-heading-link {
  text-decoration: none;
  color: var(--clr-dark-900);
}

:is(.main-heading-link):hover,
:is(.main-heading-link):focus-within {
  color: var(--clr-primary-400);
}

/* ARTICLE LIST */

.article-list {
  grid-area: articles;
}

article {
  --article-color: var(--clr-primary-400);
  --border-radius: 8px;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.article-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.article-content {
  background-color: var(--article-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 1em;
}

.article-link {
  text-decoration: none;
  color: var(--clr-light-100);
}

.article-title {
  max-width: 55ch;
}

.article-site::before {
  --size: 20px;
  content: "";
  margin-right: 0.2em;
  vertical-align: -20%;
  display: inline-block;
  height: var(--size);
  width: var(--size);
  background-image: var(--icon-url);
  background-size: contain;
}

article:hover,
article:focus-within {
  --article-color: var(--clr-primary-200);
}

/* ASIDE */

aside {
  grid-area: aside;
}

@media (min-width: 50rem) {
  aside {
    position: sticky;
    height: 50rem;
    top: 2em;
    bottom: 0;
  }
}

/* NEXT MATCH */

.next-match-section {
  grid-area: next-match;
}

/* TABLE */

.table-section {
  grid-area: table;
}
