@import url("root.css");

/* HEADER */

header {
  margin-top: 1.25rem;
}

.main-nav-wrapper {
  padding-top: 1.25rem;
  padding-bottom: var(--size-800);
}

.main-nav {
  background-color: var(--clr-primary);
  padding: 1em 2.5em;
  font-size: var(--fs-nav);
  font-weight: var(--fw-bold);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.main-nav * {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
  width: 100%;
  text-decoration: none;
  gap: 1em;
  color: var(--clr-white);
}

.main-nav *:hover {
  color: var(--clr-light);
}

@media (min-width: 50rem) {
  .main-nav * {
    display: inline;
    margin-right: 1em;
  }
}
