@import url("root.css");

/* MAIN */

.main {
  padding: var(--main-padding);
}

/* RESULTS */

.partidas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-column: auto;
  gap: 3.25em;
}
