/* TABLES */

@media (max-width: 900px) {
  .table__team-name {
    text-align: center !important;
    padding-inline: 0.5em !important;
  }
  .table__team-non-initials {
    display: none;
    max-width: 5ch;
    text-overflow: clip;
  }
  .table__team-initials {
    text-transform: uppercase;
  }
}

@media (max-width: 799px) {
  .table__team-name {
    text-align: start !important;
    max-width: 100%;
    padding-inline: 0.5em 1em;
  }
  .table__team-non-initials {
    display: inline;
    max-width: 100%;
  }
  .table__team-initials {
    text-transform: none;
  }
}

@media (max-width: 450px) {
  .table__team-name {
    text-align: center !important;
    padding-inline: 0.5em !important;
  }
}
